/* Importación de la fuente Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Contenedor principal */
.main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* Estilos del contenido */
.content {
  flex-grow: 1;
  padding: 20px;
}

/* Estilos del título */
.content h2 {
  font-size: 24px;
  color: #0090bc;
  margin-bottom: 20px;
  text-align: left;
}

/* Estilos de la tarjeta de diagnóstico */
.diagnostic-card {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}

/* Estilos de las secciones */
.section {
  margin-bottom: 20px;
}

.section-label {
  display: block;
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

/* Estilos de las subsecciones */
.subsection {
  margin-bottom: 15px;
}

.subsection-label {
  display: block;
  font-size: 16px;
  color: #0090bc;
  margin-bottom: 5px;
  font-weight: 400;
  background-color: #3fd2ff32;
  padding: 5px;
  border-radius: 5px;
}


/* Estilos del textarea */
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 16px;
}

/* Estilos del botón de guardar */
.save-button {
  background-color: #0090bc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 0 1px #ffffff, inset 0 -2.5px 3px #66dbff,
  inset 0 3px 3px rgba(0, 0, 0, 0.181); /* Inner shadow */
}

.save-button:hover {
  background-color: #01769a;
}

/* Estilos del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm {
  background-color: #0090bc;
  color: white;
  box-shadow: 0 0 1px #ffffff, inset 0 -2.5px 3px #66dbff,
  inset 0 3px 3px rgba(0, 0, 0, 0.181); /* Inner shadow */
}
.confirm:hover {
  background-color: #01769a;
  color: white;
}

.cancel {
  background-color: #3d3d3d;
  color: white;
  box-shadow: 0 0 1px #ffffff, inset 0 -2.5px 3px #9f9f9f,
  inset 0 3px 3px rgba(0, 0, 0, 0.181); /* Inner shadow */
}

.cancel:hover {
  background-color: #4f4f4f;
  color: white;
}

/* Media query para diseño responsivo */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .content {
    padding: 10px;
  }

  .diagnostic-card {
    padding: 10px;
  }

  textarea {
    font-size: 14px;
  }

  .save-button {
    font-size: 16px;
  }
}
