.container-geriatrico {
    /* background-image: url('/Bg.jpg'); */
    background: linear-gradient(#009ee2, #00b0ff);
    background-size: cover;
    min-height: 100vh;
    padding: 15px 60px;
    position: relative;
}

.content-geriatrico{
  width: 90%;
  background: #e9e9e9;
  padding: 25px;
  margin: 2.7rem;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: transform 0.3s;
}

/* Título */
.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Grid para los geriátricos */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Estilos de la tarjeta */
.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card:hover .actions {
    opacity: 1;  /* Mostramos cuando el cursor esté sobre la tarjeta */
}

/* Contenido de la tarjeta */
.card-content {
    padding: 10px;
    text-align: center;
}

.card-content-i{
    padding: 10px;
    text-align: center;
    margin-top: 6rem;
    cursor: pointer;
    color: #555;
}

/* Nombre del geriátrico */
.geriatrico-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    display: block;
    position: static;
}

/* NIT */
.geriatrico-nit {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Colores representativos */
.color-boxes {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
}

.color-box {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

/* Logo */
.geriatrico-logo {
    width: 100%;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}



/* Cambia el color del borde y el fondo cuando el input está seleccionado */
.search-input:focus {
    border-color: #007bff;  /* Color azul */
    background-color: #f0f8ff; /* Azul claro */
    outline: none; /* Quita el borde predeterminado del navegador */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efecto de resplandor */
}

.no-results {
    text-align: center;
    color: red;
    font-weight: bold;
}

/* Mensajes de error */
.error {
    font-size: 16px;
    color: red;
}

.titulo-input {
    display: flex;         /* Usa flexbox */
    align-items: center;   /* Alinea elementos verticalmente */
    justify-content: space-between; /* Espacia los elementos */
    width: 100%;           /* Ocupa el ancho completo */
    margin-bottom: 20px;   /* Espacio inferior */
}

.titulo {
    margin: 0;             /* Elimina márgenes para mejor alineación */
    font-size: 24px;       /* Ajusta el tamaño si es necesario */
}

.search-input {
    max-width: 250px;      /* Ajusta el ancho del input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease-in-out; /* Suaviza la transición de color */
}

/*Button*/
 .button-geriatrico {
    max-width: 200px;      /* Ajusta el ancho del input */
    padding: 8px;
    left: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease-in-out; /* Suaviza la transición de color */
}

.details-button{
    transition: background 0.3s ease-in-out;
    background: #007BFF;
    border-radius: 5px;   
}

.details-button:hover {
    cursor: pointer;
    background: #004080;
}

.actions {
    position: absolute;
    top: 0px;
    right: 5px;
    display: flex;
    gap: 8px;
    opacity: 0;  /* Ocultamos por defecto */
    transition: opacity 0.3s ease;
}
.actions .toggle-button, .edit-button {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.actions .toggle-button, .edit-button:hover {
    background: rgba(0, 0, 0, 1);
}
.edit-button {
    background: #007bffcc; /* Azul */
}

.toggle-button :active {
    background: #ffcc00cc; /* Amarillo */
}

.actions.toggle-button:hover {
    background-color: #ffcc00;
    transform: scale(1.1);
}
.edit-button:hover {
    background-color: #007bff;
    transform: scale(1.1);
}

.fas {
    font-size: 13.5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Oscurece el fondo */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.content-modal{
    position: static;
    width: 40%;
    background: #e9e9e9;
    padding: 5px;
    margin: 7rem;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: transform 0.3s;
}
.sede-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 20px;
}

.sede-item span:first-child {
    font-weight: 400;
    font-size: 16px;
    color: #007bff;
}

.geriatrico-nit-modal{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    color: rgb(104, 94, 94);
    text-align: center;
    position: static;
}
.sede-name{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
    position: static;
}

/*Modal Crea*/
.geriatrico-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    background: #e9e9e9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.geriatrico-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: whitesmoke;
    transition: border-color 0.3s ease-in-out;
}

.geriatrico-input:focus {
    border-color: #007bff;
    outline: none;
}

.geriatrico-form input[type="color"] {
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.geriatrico-form input[type="file"] {
    border: none;
}

.geriatrico-form button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.geriatrico-form button:hover {
    background: #0056b3;
}

.geriatrico-form .cancel-button {
    background: #dc3545;
}

.geriatrico-form .cancel-button:hover {
    background: #b02a37;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 14px;
    text-align: center;
}

.box-input{
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.modal-logo {
    width: 100%;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
}

/*Modal Editar*/
.geriatrico-form-edit{
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}
.color-boxes-input{
    padding: 15px;
    display: flex;
    justify-content:space-between;
    gap: 1px;
}