/* Importación de la fuente Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Contenedor principal */
.main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* Estilos del contenido */
.content {
  flex-grow: 1;
  padding: 20px;
}

/* Estilos del título */
.content h2 {
  font-size: 24px;
  color: #0090bc;
  margin-bottom: 20px;
  text-align: left;
  
}

/* Estilos de la tarjeta de cuidados */
.cuidado-card {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}

/* Estilos de cada elemento de cuidado */
.cuidado-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cuidado-item:last-child {
  border-bottom: none;
}

/* Estilos de las opciones */
.options {
  display: flex;
  gap: 10px;
}

/* Estilos de las etiquetas */
label {
  font-size: 16px;
  color: #555;
  display: flex;
  align-items: center;
}

label input[type="checkbox"] {
  margin-right: 5px;
}

/* Estilos del checkbox */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Estilos del botón de guardar */
.save-button {
  background-color: #0090bc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  transition: .3s;
  box-shadow: 0 0 1px #ffffff, inset 0 -2.5px 3px #66dbff,
    inset 0 3px 3px rgba(0, 0, 0, 0.181); /* Inner shadow */
}

.save-button:hover {
  background-color: #007acc;
}

/* Estilos del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 20px 20px 60px #0000002f,
  -20px -20px 60px #00000013;

}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm {
  background-color: #0090bc;
  color: white;
  box-shadow: 0 0 1px #ffffff, inset 0 -2.5px 3px #66dbff,
  inset 0 3px 3px rgba(0, 0, 0, 0.181); /* Inner shadow */
}
.confirm:hover {
  background-color: #01769a;
  color: white;
}

.cancel {
  background-color: #3d3d3d;
  color: white;
  box-shadow: 0 0 1px #ffffff, inset 0 -2.5px 3px #9f9f9f,
  inset 0 3px 3px rgba(0, 0, 0, 0.181); /* Inner shadow */
}

.cancel:hover {
  background-color: #4f4f4f;
  color: white;
}
/* From Uiverse.io by elijahgummer */ 
/* Hide the default checkbox */
.container input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  border: 3px solid #0090bc4d;
  border-radius: 8px;
  overflow: hidden;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #0090bc;
  border-bottom: 1.5px solid #0090bc; /* Bottom stroke */
  box-shadow: 0 0 1px #ffffff, inset 0 -2.5px 3px #66dbff,
    inset 0 3px 3px rgba(0, 0, 0, 0.181); /* Inner shadow */
  border-radius: 5px;
  transition: transform 0.3s ease-in-out; /* Transition for smooth animation */
}

/* When the checkbox is checked, modify the checkmark appearance */
.container input:checked ~ .checkmark {
  transform: translateY(40px); /* Move down */
  animation: wipeDown 0.3s ease-in-out forwards; /* Apply wipe animation */
}

/* When the checkbox is not checked, modify the checkmark appearance */
.container input:not(:checked) ~ .checkmark {
  transform: translateY(-40px); /* Move up */
  animation: wipeUp 0.3s ease-in-out forwards; /* Apply wipe animation */
}

/* Keyframes for wipe animations */
@keyframes wipeDown {
  0% {
    transform: translateY(0); /* Starting position */
  }
  100% {
    transform: translateY(40px); /* End position */
  }
}

@keyframes wipeUp {
  0% {
    transform: translateY(40); /* Starting position */
  }
  100% {
    transform: translateY(0px); /* End position */
  }
}

/* Create the checkmark/indicator */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.34); /* Icon drop shadow */
}

/* Media query para diseño responsivo */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .content {
    padding: 10px;
  }

  .cuidado-card {
    padding: 10px;
  }

  .cuidado-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .options {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
}
